[workspace]
members = [
    "cli", "server", "wkd"
]
resolver = "2"

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3

[profile.release]
opt-level = 3
debug = false
strip = "symbols"
lto = true
panic = "abort"
